<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Remarkable template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Lora;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial6.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial6-max-width thq-section-max-width">
          <div
            data-thq="slider"
            data-loop="true"
            data-autoplay="true"
            data-navigation="true"
            data-pagination="true"
            class="testimonial6-slider1 swiper"
          >
            <div data-thq="slider-wrapper" class="swiper-wrapper">
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide1 swiper-slide"
              >
                <div class="testimonial6-card1">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo1"
                  />
                  <p>
                    <fragment class="testimonial6-fragment12">
                      <span class="testimonial6-text42 thq-body-large">
                        I have greatly benefited from the training provided on
                        this platform. The content is top-notch and the
                        instructors are highly knowledgeable.
                      </span>
                    </fragment>
                  </p>
                  <div class="testimonial6-avatar1">
                    <img
                      alt="John Smith Image"
                      src="https://images.unsplash.com/photo-1636041282694-aa4e52370419?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTk4MTY1M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image1 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content1">
                      <span>
                        <fragment class="testimonial6-fragment14">
                          <span class="testimonial6-text44 thq-body-small">
                            John Smith
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="testimonial6-fragment13">
                          <span class="testimonial6-text43 thq-body-small">
                            Cybersecurity Analyst
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="testimonial6-card2">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo2"
                  />
                  <p>
                    <fragment class="testimonial6-fragment10"></fragment>
                  </p>
                  <p class="testimonial6-text40 thq-body-large">
                    Being a member of this community has opened up new
                    opportunities for me in the field of cybersecurity. I highly
                    recommend it to anyone looking to advance their career.
                  </p>

                  <p></p>
                  <div class="testimonial6-avatar2">
                    <img
                      alt="Emily Johnson Image"
                      src="https://images.unsplash.com/photo-1504346466600-714572c4b726?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTk4MTY1M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image2 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content2">
                      <span>
                        <fragment class="testimonial6-fragment19">
                          <span class="testimonial6-text49 thq-body-small">
                            Emily Johnson
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="testimonial6-fragment21">
                          <span class="testimonial6-text51 thq-body-small">
                            Network Engineer
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide2 swiper-slide"
              >
                <div class="testimonial6-card3">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo3"
                  />
                  <p>
                    <fragment class="testimonial6-fragment16">
                      <span class="testimonial6-text46 thq-body-large">
                        Attending the events organized by this platform has been
                        a game-changer for me. The insights gained have been
                        invaluable for enhancing our organization's security
                        measures.
                      </span>
                    </fragment>
                  </p>
                  <div class="testimonial6-avatar3">
                    <img
                      alt="Michael Lee Image"
                      src="https://images.unsplash.com/photo-1488820098099-8d4a4723a490?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTk4MTY1NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image3 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content3">
                      <span>
                        <fragment class="testimonial6-fragment20">
                          <span class="testimonial6-text50 thq-body-small">
                            Michael Lee
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="testimonial6-fragment11">
                          <span class="testimonial6-text41 thq-body-small">
                            IT Manager
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="testimonial6-card4">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo4"
                  />
                  <p>
                    <fragment class="testimonial6-fragment15"></fragment>
                  </p>
                  <p class="testimonial6-text45 thq-body-large">
                    The blog posts here are always up-to-date with the latest
                    trends and threats in cybersecurity. It's my go-to resource
                    for staying informed.
                  </p>

                  <p></p>
                  <div class="testimonial6-avatar4">
                    <img
                      alt="Sarah Adams Image"
                      src="https://images.unsplash.com/photo-1541414779316-956a5084c0d4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTk4MTY1M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image4 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content4">
                      <span>
                        <fragment class="testimonial6-fragment18">
                          <span class="testimonial6-text48 thq-body-small">
                            Sarah Adams
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="testimonial6-fragment17">
                          <span class="testimonial6-text47 thq-body-small">
                            Security Researcher
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-thq="slider-pagination"
              class="testimonial6-slider-pagination1 swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
            >
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
            </div>
            <div data-thq="slider-button-prev" class="swiper-button-prev"></div>
            <div data-thq="slider-button-next" class="swiper-button-next"></div>
          </div>
          <div
            data-thq="slider"
            data-loop="true"
            data-autoplay="true"
            data-navigation="true"
            data-pagination="true"
            class="testimonial6-slider2 swiper"
          >
            <div data-thq="slider-wrapper" class="swiper-wrapper">
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide3 swiper-slide"
              >
                <div class="testimonial6-card5">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo5"
                  />
                  <span>
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar5">
                    <img
                      alt="John Smith Image"
                      src="https://images.unsplash.com/photo-1636041282694-aa4e52370419?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTk4MTY1M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image5 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content5">
                      <span>
                        <span>Author Name</span>
                        <fragment class="testimonial6-fragment14">
                          <span class="testimonial6-text44 thq-body-small">
                            John Smith
                          </span>
                        </fragment>
                      </span>
                      <span>Position, Company name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide4 swiper-slide"
              >
                <div class="testimonial6-card6">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo6"
                  />
                  <span>
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar6">
                    <img
                      alt="Emily Johnson Image"
                      src="https://images.unsplash.com/photo-1504346466600-714572c4b726?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTk4MTY1M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image6 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content6">
                      <span>
                        <span>Author Name</span>
                        <fragment class="testimonial6-fragment19">
                          <span class="testimonial6-text49 thq-body-small">
                            Emily Johnson
                          </span>
                        </fragment>
                      </span>
                      <span>Position, Company name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide5 swiper-slide"
              >
                <div class="testimonial6-card7">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo7"
                  />
                  <span>
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar7">
                    <img
                      alt="Michael Lee Image"
                      src="https://images.unsplash.com/photo-1488820098099-8d4a4723a490?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTk4MTY1NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image7 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content7">
                      <span>
                        <span>Author Name</span>
                        <fragment class="testimonial6-fragment20">
                          <span class="testimonial6-text50 thq-body-small">
                            Michael Lee
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <span>Position, Company name</span>
                        <fragment class="testimonial6-fragment11">
                          <span class="testimonial6-text41 thq-body-small">
                            IT Manager
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide6 swiper-slide"
              >
                <div class="testimonial6-card8">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo8"
                  />
                  <span>
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar8">
                    <img
                      alt="Sarah Adams Image"
                      src="https://images.unsplash.com/photo-1541414779316-956a5084c0d4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTk4MTY1M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image8 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content8">
                      <span>
                        <span>Author Name</span>
                        <fragment class="testimonial6-fragment18">
                          <span class="testimonial6-text48 thq-body-small">
                            Sarah Adams
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <span>Position, Company name</span>
                        <fragment class="testimonial6-fragment17">
                          <span class="testimonial6-text47 thq-body-small">
                            Security Researcher
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-thq="slider-pagination"
              class="testimonial6-slider-pagination2 swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
            >
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
            </div>
            <div data-thq="slider-button-prev" class="swiper-button-prev"></div>
            <div data-thq="slider-button-next" class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
