<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Remarkable template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Lora;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./timeline4.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="timeline4-max-width thq-section-max-width">
          <div class="timeline4-container11">
            <h2>
              <fragment class="timeline4-fragment12">
                <h2 class="timeline4-text34 thq-heading-2">Work Experience</h2>
              </fragment>
            </h2>
            <span>
              <fragment class="timeline4-fragment26">
                <span class="timeline4-text52 thq-body-small">
                  Some experiences in my interests
                </span>
              </fragment>
            </span>
            <div class="timeline4-container12"></div>
          </div>
          <div class="timeline4-timeline-container">
            <div class="timeline4-step1">
              <div class="timeline4-container13">
                <div class="timeline4-container14"></div>
                <div class="timeline4-progress01"></div>
              </div>
              <div class="timeline4-container15">
                <h3>
                  <fragment class="timeline4-fragment11">
                    <h3 class="timeline4-text33 thq-heading-3">
                      January 2024 - Current
                    </h3>
                  </fragment>
                </h3>
                <h3>
                  <fragment class="timeline4-fragment14">
                    <h3 class="timeline4-text36 thq-heading-3">
                      Internet Real Time Lab
                    </h3>
                  </fragment>
                </h3>
                <span>
                  <fragment class="timeline4-fragment20">
                    <span class="timeline4-text44 sub-header thq-body-small">
                      Research Assistant
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="timeline4-fragment21">
                    <span class="timeline4-text45 thq-body-small">
                      The Cybersecurity Training Program was officially
                      launched, offering courses on various aspects of
                      cybersecurity.
                    </span>
                  </fragment>
                </span>
                <div class="timeline4-container16"></div>
              </div>
            </div>
            <div class="timeline4-step2">
              <div class="timeline4-container17">
                <div class="timeline4-container18"></div>
                <div class="timeline4-progress02"></div>
              </div>
              <div class="timeline4-container19">
                <h3>
                  <fragment class="timeline4-fragment16">
                    <h3 class="timeline4-text38 thq-heading-3">
                      June 2023 - Current
                    </h3>
                  </fragment>
                </h3>
                <h3>
                  <fragment class="timeline4-fragment17">
                    <h3 class="timeline4-text39 thq-heading-3">
                      Distributed Network Analysis Lab
                    </h3>
                  </fragment>
                </h3>
                <span>
                  <fragment class="timeline4-fragment23">
                    <span class="timeline4-text49 sub-header thq-body-small">
                      Research Assistant
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="timeline4-fragment19">
                    <span class="timeline4-text43 thq-body-small">
                      Our team presented groundbreaking research at the
                      International Cybersecurity Conference, showcasing our
                      expertise.
                    </span>
                  </fragment>
                </span>
                <div class="timeline4-container20"></div>
              </div>
            </div>
            <div class="timeline4-step3">
              <div class="timeline4-container21">
                <div class="timeline4-container22"></div>
                <div class="timeline4-progress03"></div>
              </div>
              <div class="timeline4-container23">
                <h3>
                  <fragment class="timeline4-fragment10">
                    <h3 class="timeline4-text32 thq-heading-3">
                      September 2022 - May 2024
                    </h3>
                  </fragment>
                </h3>
                <h3>
                  <fragment class="timeline4-fragment28">
                    <h3 class="timeline4-text54 thq-heading-3">
                      Columbia Engineering Deans Office
                    </h3>
                  </fragment>
                </h3>
                <span>
                  <fragment class="timeline4-fragment18">
                    <span class="timeline4-text40 sub-header thq-body-small">
                      <span>Program Assistant</span>
                      <br />
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="timeline4-fragment25">
                    <span class="timeline4-text51 thq-body-small">
                      We reached a significant milestone of having over 10,000
                      members in our cybersecurity community.
                    </span>
                  </fragment>
                </span>
                <div class="timeline4-container24"></div>
              </div>
            </div>
            <div class="timeline4-step41">
              <div class="timeline4-container25">
                <div class="timeline4-container26"></div>
                <div class="timeline4-progress04"></div>
              </div>
              <div class="timeline4-container27">
                <h3>
                  <fragment class="timeline4-fragment15">
                    <h3 class="timeline4-text37 thq-heading-3">
                      July 2023 – September 2023
                    </h3>
                  </fragment>
                </h3>
                <h3>
                  <fragment class="timeline4-fragment27">
                    <h3 class="timeline4-text53 thq-heading-3">
                      Omphalos Lifesciences Inc
                    </h3>
                  </fragment>
                </h3>
                <span>
                  <fragment class="timeline4-fragment31">
                    <span class="timeline4-text57 sub-header thq-body-small">
                      <span>Business Director</span>
                      <br />
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="timeline4-fragment13">
                    <span class="timeline4-text35 thq-body-small">
                      Introducing a specialized course focusing on advanced
                      networking concepts and technologies.
                    </span>
                  </fragment>
                </span>
                <div class="timeline4-container28"></div>
              </div>
            </div>
            <div class="timeline4-step42">
              <div class="timeline4-container29">
                <div class="timeline4-container30"></div>
                <div class="timeline4-progress05"></div>
              </div>
              <div class="timeline4-container31">
                <h3>
                  <fragment class="timeline4-fragment29">
                    <h3 class="timeline4-text55 thq-heading-3">
                      March 2022 – March 2023
                    </h3>
                  </fragment>
                </h3>
                <h3>
                  <fragment class="timeline4-fragment30">
                    <h3 class="timeline4-text56 thq-heading-3">ClaraLabs</h3>
                  </fragment>
                </h3>
                <span>
                  <fragment class="timeline4-fragment22">
                    <span class="timeline4-text46 sub-header thq-body-small">
                      <span>Program Assistant</span>
                      <br />
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment class="timeline4-fragment24">
                    <span class="timeline4-text50 thq-body-small">
                      Introducing a specialized course focusing on advanced
                      networking concepts and technologies.
                    </span>
                  </fragment>
                </span>
                <div class="timeline4-container32"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
